// Spacing
$sp-1: 10px;
$sp-2: 20px;
$sp-3: 30px;

// Width
$wd-100: 100%;
$wd-90: 90%;
$wd-80: 80%;

// Colors
$white: white;
$backgroundColorSmallNavbar: rgb(32, 58, 67);
$backgroundColorNavBar: #84bfae;
$overlayColor: rgba(29, 28, 28, 0.387);
$focusedLinkColor: #41c7c2;

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: $sp-2 0;
  background: $backgroundColorNavBar;
  z-index: 4;
  padding: 0 !important;
}

.logo {
  font-size: $sp-2;
  cursor: pointer;
  color: $white;
  font-style: italic;
  font-weight: 400;
  margin: 25px !important;
  max-width: 200px;
  height: auto;
  transition: max-width 0.3s ease;
}

.logo.small {
  max-width: 150px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  // width: $wd-80;
  // Adding position relative to ensure z-index works correctly
  position: relative;
}

.navContainer ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  background: $backgroundColorSmallNavbar;
  padding: 50px 0 !important; // Ajustar padding-top para mover los enlaces más abajo
  z-index: 2;
  transform: translateX(100%);
  transition: transform 0.25s ease;
  overflow-y: auto;
}

.navContainer li {
  padding: 10px !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.navLink {
  color: $white;
}

.navToggle {
  display: block;
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 8px 8px !important;
  margin: 20px -8px 20px 0px !important;
  outline: none;
  cursor: pointer;
  z-index: 5; // Ensure this is higher than header and navContainer
  position: relative; // Ensure z-index works correctly
  margin-right: 20px !important;
}

.navToggle span {
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 4px !important;
  background-color: $white;
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(1, 0.13, 0.35, 1.09);
}

.navToggle.active span:first-child {
  transform: rotate(45deg) translate(4.4px, 4.4px);
}

.navToggle.active span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.navToggle.active span:last-child {
  transform: rotate(-45deg) translate(4.4px, -4.4px);
}

.navToggle span:last-child {
  margin-bottom: 0 !important;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  height: 0;
  width: 0;
  background-color: $overlayColor;
  opacity: 0;
  transition: opacity 1s ease 0.1s;
}

.overlay.active {
  opacity: 3;
  width: 100%;
  height: 120%;
}

.focused {
  // background-color: #d9d5c5;
  color: #84bfae;
  font-weight: 500;
}

@media screen and (min-width: 1240px) {
  .header {
    flex-direction: column;
  }
  .navToggle {
    display: none;
  }

  .navContainer {
    width: $wd-80 !important;
  }

  .navContainer ul {
    position: relative;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    height: auto;
    background: none;
    padding: 0 !important;
    transform: none;
    transition: none;
    overflow-y: auto;
    justify-content: center;
  }
}
