.filter {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
  align-items: center !important;

  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;

  p {
    font-size: 17px;
    font-weight: 600;
  }

  .button {
    background: #caa07a !important;
  }
}

.data-filter {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid rgb(243, 239, 239);

  p {
    display: flex;
    border: 1px solid rgb(243, 239, 239);
    gap: 2px;
    font-size: 1rem;
    margin: 0 10px;
  }

  input {
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem; /* Ajusta proporcionalmente */
  }

  .button {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    padding-bottom: 4px;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: red;
      color: white;
    }
  }
}

.filter-form {
  display: none;

  .button {
    background: #caa07a !important;
  }

  .button:hover {
    background: #b98d67 !important;
  }

  .button-clean {
    background: #686563 !important;
  }
  .button-clean:hover {
    background: #918e8c !important;
  }
}

.modal-filter {
  .button {
    background: #caa07a !important;
  }

  .button:hover {
    background: #b98d67 !important;
  }

  .modal-body {
    padding: 10px !important;
  }
}

.modal-backdrop {
  z-index: -1 !important;
}

@media screen and (min-width: 1240px) {
  .filter {
    display: none !important;
  }

  .filter-form {
    display: block;
  }
  .data-filter {
    display: none;
  }
}
